<div class="container mt-5">

  <h1 class="gwentTitle text-center mb-5">Gwent DB</h1>

  <div class="card shadow">
    <div class="scroll card-body">
      <table class="table table-striped text-center">
        <thead>
        <tr>
          <th>id</th>
          <th>Username</th>
          <th>Email</th>
          <th>Password</th>
          <th>Role</th>

          <th colspan="2">Action</th>
        </tr>
        </thead>
        <tbody *ngFor="let user of users ">
        <tr>
          <td>{{user.id}}</td>
          <td>{{user.username}}</td>
          <td>{{user.email}}</td>
          <td>{{user.password}}</td>
          <td>{{user.role}}</td>


        </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>
