

.nav-link {
  color: #d9c9ed !important;
}

@media screen and (min-width: 992px) {
  .nav-item {
    display: inline-block;
    position: relative;
    margin: 20px;
  }

  .nav-item:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #d9c9ed;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  .nav-item:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  .nav-link {
    font-size: 20px !important;
  }
}

